.page-content {
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 1rem;
  height: 100vh;
}

.top-bar {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.top-bar button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: rgb(60, 60, 60);
}

.top-bar-left {
  justify-content: flex-start;
}

.top-bar-right {
  justify-content: flex-end;
}

.dashboard {
  background-color: rgb(235, 235, 235);
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100vh;
}

.left-panel {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1 0 15%;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.left-panel h1 {
  text-align: center;
  font-size: 1.2rem;
}

.nav-button {
  padding: 10px;
  border: solid 1px silver;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}

.nav-button:hover {
  background-color: black;
  color: white;
}

.right-panel {
  background-color: rgb(235, 235, 235);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.right-panel-top {
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 5px;
}

.right-panel-top-left {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  flex: 1;
}

.dashboard-buttons-row {
  display: flex;
  gap: 0.2rem;
}

.dashboard-button {
  width: 80px;
  height: 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dashboard-button:hover {
  background-color: transparent;
  border: solid 1px rgb(82, 100, 176);
  color: rgb(82, 100, 176);
}

.right-panel-top-right {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 3;
  gap: 1rem;
}

.info-box {
  background-color: white;
  width: 100px;
  height: 100px;
  border: solid 1px silver;
  border-radius: 5px;
}

.info-box h1,
.info-box p {
  text-align: center;
}

.right-panel-bottom {
  background-color: white;
  border-radius: 10px;
  flex-grow: 1;
  padding: 5px;
}

@media (max-width: 480px) {
  .dashboard {
    flex-direction: column;
  }

  .left-panel {
    min-width: unset;
  }
}

@media (max-width: 580px) {
  .info-box {
    width: 70px;
    height: 70px;
  }

  .info-box h1 {
    font-size: 1.2rem;
  }

  .info-box p {
    font-size: 0.8rem;
  }
}

@media (max-width: 770px) {
  .right-panel-top {
    flex-direction: column;
  }
}
